<div class="container">
  <div class="container__body">
    <mat-card class="container__body__card">
      <div class="col1">
        <div class="account">
          <h2>Crea tu usuario</h2>
          <mat-form-field appearance="legacy">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="" autocomplete="off" type="email" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="off" placeholder="" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="off" placeholder="" />
          </mat-form-field>
        </div>
        <div class="personal-information">
          <h2>Información del Representante</h2>
          <mat-form-field appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="" autocomplete="off" type="email" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>DNI</mat-label>
            <input matInput type="number" autocomplete="off" placeholder="" />
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Celular</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" />
          </mat-form-field>
        </div>
      </div>
      <div class="col2">
        <div class="personal-information">
          <h2>Información de la Veterinaria</h2>
          <mat-form-field appearance="legacy">
            <mat-label>Nombre Comercial</mat-label>
            <input matInput placeholder="" autocomplete="off" type="email" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>N° RUC</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Región</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Dirección</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" />
          </mat-form-field>
         
          <mat-form-field appearance="legacy">
            <mat-label>Telefono</mat-label>
            <input matInput type="text" autocomplete="off" placeholder="" />
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="container__button">
          <button mat-raised-button color="primary" class="container__button">
            Registrar cuenta
          </button>
        </div> -->
    </mat-card>
  </div>
</div>
