<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <span>PETCARE</span>
    </div>
    <div class="items-link">
      <a class="center-y" mat-button  (click)="inicioRouter()"  >
        <span>Inicio</span>
        <mat-icon>home</mat-icon>
      </a>
      <div class="center-y">
        <span>Mis Mascotas</span>
        <mat-icon>pets</mat-icon>
      </div>
      <div class="center-y">
        <span>Mis Citas</span>
        <mat-icon>event </mat-icon>
      </div>
      <div class="center-y">
        <span>Mis Comentarios</span>
        <mat-icon>forum</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
